*.pyc
*.DS_Store
*.swp
object_fracturing/blender_fracture_modifier
object_fracturing/blender_scripts
object_fracturing/real_objects
object_fracturing/data
object_fracturing/data_zip
__pycache__
.idea
output*
pcl/build/
pcl/Release/
*.zip
object_reassembly/images
object_reassembly/result.mp4
object_reassembly/data
object_reassembly/data_from_pred
wandb/
.vscode/
/neural_network/data_evaluation/
/report/
