*.pyc
*.DS_Store
*.swp
object_fracturing/blender_fracture_modifier
.idea
output
object_fracturing/data/*
!object_fracturing/data/bottle_10_seed_1
object_fracturing/data.zip
object_fracturing/real_objects
object_fracturing/data_zip/data.zip
wandb/run-20220417_171813-2ihv5a9s/run-2ihv5a9s.wandb
wandb/run-20220417_171813-2ihv5a9s/files/conda-environment.yaml
wandb/run-20220417_171813-2ihv5a9s/files/config.yaml
wandb/run-20220417_171813-2ihv5a9s/files/output.log
wandb/run-20220417_171813-2ihv5a9s/files/requirements.txt
wandb/run-20220417_171813-2ihv5a9s/files/wandb-metadata.json
wandb/run-20220417_171813-2ihv5a9s/files/wandb-summary.json
wandb/run-20220417_171813-2ihv5a9s/logs/debug-internal.log
wandb/run-20220417_171813-2ihv5a9s/logs/debug.log
wandb/run-20220417_172109-1nf0hx7t/run-1nf0hx7t.wandb
wandb/run-20220417_172109-1nf0hx7t/files/conda-environment.yaml
wandb/run-20220417_172109-1nf0hx7t/files/config.yaml
wandb/run-20220417_172109-1nf0hx7t/files/output.log
wandb/run-20220417_172109-1nf0hx7t/files/requirements.txt
wandb/run-20220417_172109-1nf0hx7t/files/wandb-metadata.json
wandb/run-20220417_172109-1nf0hx7t/files/wandb-summary.json
wandb/run-20220417_172109-1nf0hx7t/logs/debug-internal.log
wandb/run-20220417_172109-1nf0hx7t/logs/debug.log
